.container-accueil {
    background-image: url(/public/img/Untitled.jpg);
    background-position: initial;  
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}