.container{
    display: flex;
    flex-direction: column;
    background-color:var(--couleur-principale);
}

.filtres {
    display: flex;
    flex-direction: column;
}

li {
    color: var(--text-color);
    font-family: sans-serif;
    cursor: pointer;
    margin: 25px;
    list-style-type: none;
    
}

h2 {
    color: var(--text-color);
    margin: 10px;
    font-family:sans-serif;
}

li:hover {
    
    color: var(--secondary-color);
    text-decoration: underline;
}

li:active {
    
    color: var(--secondary-color);
}

