.item {
    position: relative;
    height: 19rem;
    background-color: var(--couleur-principale);
    overflow-y: hidden;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    
    h3 {
      margin: 0;
      font-family: sans-serif;
      font-size: 16px;
      display: block;
      background-color: var(--couleur-principale);
      color: white;
      padding: 1rem;
    }
    
    h4 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      
      &:hover,
      &:focus {
        ~ .item__overlay {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  
  img {
    width: 100%;
    display: block;
    object-fit: contain;
    max-height: 100%;
  }
 
  .item__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    transition: transform 1000ms;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate3d(0, calc(100% - 3.5rem), 0);
  }
  
  .item__body {
    flex-grow: 1;
    padding: 1rem;
    
    h4 {
      margin: 0;
      color: var(--text-color);
    }
  }
